.flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.table {
  width: 70%;
  margin: 0 auto 50px;
  border-collapse: collapse;
  font-weight: 500;
}

td {
  border: 1px solid rgb(240, 240, 240);
  height: 70px;
  width: 14%;
  vertical-align: baseline;
}

td, th {
  text-align: right;
}

th {
  color: rgb(180, 180, 180);
}

.btn {
  background-color: rgba(0, 158, 108, 0.9);
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 4px;
}

.prev {
  margin-right: 10px;
}

.today {
  background-color: rgba(0, 158, 108, 0.8);
  color: #fff;
}

.today:hover .newEventBtn {
  color: #ffffff;
}

.in-prev-month,
.in-next-month {
  opacity: 0.7;
  font-weight: 400;
  background-color: rgba(240, 240, 240, 0.5);
}

.month {
  font-weight: 500;
  padding-left: 20px;
  font-size: 20px;
  color: rgba(0, 158, 108, 0.8);
}

.flexBoxBtn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.newEventBtn {
  border: transparent;
  font-size: 16px;
  background-color: transparent;
  color: rgba(0, 158, 108, 0.8);
  display: none;
}

td:hover .newEventBtn {
  display: inline-block;
}



