.calendar {
  width: 65%;
}

.flexBoxCalendar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 10px 18px 1px #888888;
  table-layout: fixed;
}

td {
  border: 1px solid rgb(240, 240, 240);
  width: 14%;
  vertical-align: baseline;
}

td:hover {
  cursor: pointer;
  background-color: rgba(92,189,185,0.7);
  color: #ffffff;
}

.dayBox {
  height: 88px;
}

.events {
  height: 60px;
  overflow-y: scroll;
  text-align: left;
  margin-top: 5px;
  padding-left: 3px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #BEBEBE;
}

td, th {
  text-align: right;
}

th {
  color: rgb(180, 180, 180);
}

.btn {
  background-color: rgba(92,189,185,0.9);
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 4px;
}

.prev {
  margin-right: 10px;
}

.today {
  border: 2px solid rgba(92,189,185,0.7);
}

.date {
  color: rgba(92,189,185,0.9);
  font-size: 18px;
}

td:hover .newEventBtn {
  color: #ffffff;
}

.in-prev-month,
.in-next-month {
  opacity: 0.7;
  font-weight: 400;
  background-color: rgba(235,246,245,0.5);
}

.month {
  font-weight: 500;
  font-size: 20px;
  color: rgba(92,189,185,0.9);
  margin-right: 20px;
}

.flexBoxBtn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.newEventBtn {
  border: transparent;
  font-size: 16px;
  background-color: transparent;
  color: rgba(92,189,185,1);
  display: none;
}

td:hover .newEventBtn {
  display: inline-block;
}

td:hover .eventTitle {
  background-color: #ffffff;
  color: #909090;
}

td:hover .date {
  color: #ffffff;
}

.eventTitle {
  padding: 3px;
  background-color: rgba(92,189,185,0.9);
  color: #ffffff;
  word-wrap: break-word;
  margin-bottom: 3px;
  display: block;
  font-size: 10px;
  border-radius: 3px;
}







