.formBox {
  width: 80%;
  margin: 0 auto;
}

.title {
  color: #808080;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.textarea {
  resize: none;
}

.box {
  margin-bottom: 20px;
}

.box input, textarea {
  border: transparent;
}

.btnBox {
  margin-top: 20px;
  text-align: right;
}

.btnClose {
  text-align: right;
}

.close {
  font-size: 20px;
  background-color: transparent;
  border: transparent;
  color: inherit;
}

.submitBtn {
  background-color: rgba(92,189,185,0.9);
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 2px;
}

.submitBtn:disabled {
  background-color: #A9A9A9;
  pointer-events: none;
}

