.header {
    background-color: rgba(92,189,185,0.9);
    padding: 8px 20px;
    color: #fff;
    margin-bottom: 30px;
    box-shadow: 0 10px 18px 1px #888888;
}

.flexBox {
    display: flex;
    justify-content: space-between;
}